<a href="https://colab.research.google.com/github/nwelter1/week9-data/blob/master/Operators68_PySpark_Lecture_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark Introduction

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt-get update
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 64 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=b2113068d5e11e6b4a25247d8f22e71ffb5665c8dc8c4e31f708d29a85cf26fd
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [66.6 kB]
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,295 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,200 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,426 kB]
Get:20 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.6 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,731 kB]
Fetched 9,037 kB in 6s (1,528 kB/s)
Reading package lists... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 57 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 148489 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
# create the session
spark = SparkSession.builder.appName('Operators68Spark').getOrCreate()

AGE_MIDPOINT = "age_midpoint"
SALARY_MIDPOINT = "salary_midpoint"
SALARY_MIDPOINT_BUCKET = "salary_midpoint_bucket"

# PySpark DataFrame Reader

In [ ]:
dataFrameReader = spark.read

# Read In Stack Overflow Data

In [ ]:
survey_responses = dataFrameReader.option("header", "true").option("inferSchema", value=True).csv('./stack_overflow_responses.csv')

# Display Dataset Schema

This print out shows us what is inside of the dataset and more importantly, what types of data reside in each location.

In [ ]:
print("=== Print Out Schema ===")
survey_responses.printSchema()

=== Print Out Schema ===
root
 |-- _c0: integer (nullable = true)
 |-- collector: string (nullable = true)
 |-- country: string (nullable = true)
 |-- un_subregion: string (nullable = true)
 |-- so_region: string (nullable = true)
 |-- age_range: string (nullable = true)
 |-- age_midpoint: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- self_identification: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- occupation_group: string (nullable = true)
 |-- experience_range: string (nullable = true)
 |-- experience_midpoint: double (nullable = true)
 |-- salary_range: string (nullable = true)
 |-- salary_midpoint: double (nullable = true)
 |-- big_mac_index: double (nullable = true)
 |-- tech_do: string (nullable = true)
 |-- tech_want: string (nullable = true)
 |-- aliens: string (nullable = true)
 |-- programming_ability: double (nullable = true)
 |-- employment_status: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- company_size_range: string (nullable = true)
 |-- team_size_range: string (nullable = true)
 |-- women_on_team: string (nullable = true)
 |-- remote: string (nullable = true)
 |-- job_satisfaction: string (nullable = true)
 |-- job_discovery: string (nullable = true)
 |-- dev_environment: string (nullable = true)
 |-- commit_frequency: string (nullable = true)
 |-- hobby: string (nullable = true)
 |-- dogs_vs_cats: string (nullable = true)
 |-- desktop_os: string (nullable = true)
 |-- unit_testing: string (nullable = true)
 |-- rep_range: string (nullable = true)
 |-- visit_frequency: string (nullable = true)
 |-- why_learn_new_tech: string (nullable = true)
 |-- education: string (nullable = true)
 |-- open_to_new_job: string (nullable = true)
 |-- new_job_value: string (nullable = true)
 |-- job_search_annoyance: string (nullable = true)
 |-- interview_likelihood: string (nullable = true)
 |-- how_to_improve_interview_process: string (nullable = true)
 |-- star_wars_vs_star_trek: string (nullable = true)
 |-- agree_tech: string (nullable = true)
 |-- agree_notice: string (nullable = true)
 |-- agree_problemsolving: string (nullable = true)
 |-- agree_diversity: string (nullable = true)
 |-- agree_adblocker: string (nullable = true)
 |-- agree_alcohol: string (nullable = true)
 |-- agree_loveboss: string (nullable = true)
 |-- agree_nightcode: string (nullable = true)
 |-- agree_legacy: string (nullable = true)
 |-- agree_mars: string (nullable = true)
 |-- important_variety: string (nullable = true)
 |-- important_control: string (nullable = true)
 |-- important_sameend: string (nullable = true)
 |-- important_newtech: string (nullable = true)
 |-- important_buildnew: string (nullable = true)
 |-- important_buildexisting: string (nullable = true)
 |-- important_promotion: string (nullable = true)
 |-- important_companymission: string (nullable = true)
 |-- important_wfh: string (nullable = true)
 |-- important_ownoffice: string (nullable = true)
 |-- developer_challenges: string (nullable = true)
 |-- why_stack_overflow: string (nullable = true)

# The Select Statement in PySpark

In [ ]:
responseWithSelectedColumns = survey_responses.select("country","occupation",
                                                      AGE_MIDPOINT, SALARY_MIDPOINT)
print("=== Printing the selected cols ===")

# .show() shows full DataFrame or selection
responseWithSelectedColumns.show()

=== Printing the selected cols ===
+-----------+--------------------+------------+---------------+
|    country|          occupation|age_midpoint|salary_midpoint|
+-----------+--------------------+------------+---------------+
|Afghanistan|                null|        22.0|           null|
|Afghanistan|Mobile developer ...|        32.0|        45000.0|
|Afghanistan|                null|        null|           null|
|Afghanistan|              DevOps|        null|         5000.0|
|Afghanistan|                null|        65.0|           null|
|Afghanistan|                null|        22.0|           null|
|Afghanistan|       Growth hacker|        null|       210000.0|
|Afghanistan|Back-end web deve...|        27.0|         5000.0|
|    Albania|                null|        27.0|           null|
|    Albania|Back-end web deve...|        22.0|         5000.0|
|    Albania|Full-stack web de...|        27.0|         5000.0|
|    Albania|Full-stack web de...|        22.0|        15000.0|
|    Albania|Full-stack web de...|        27.0|         5000.0|
|    Albania|Back-end web deve...|        27.0|         5000.0|
|    Albania|Back-end web deve...|        22.0|        15000.0|
|    Algeria|                null|        44.5|           null|
|    Algeria|   Desktop developer|        27.0|           null|
|    Algeria|             Student|        16.0|           null|
|    Algeria|                null|        22.0|           null|
|    Algeria|   Desktop developer|        27.0|        15000.0|
+-----------+--------------------+------------+---------------+
only showing top 20 rows

# Filtration in PySpark

In [ ]:
print('=== Print Records where the response is from Afghanistan ===')
responseWithSelectedColumns.filter(responseWithSelectedColumns["country"] == "Afghanistan").show()

# simlar to pd syntax... which would be df[df['colname'] == condition]
query = responseWithSelectedColumns.filter(responseWithSelectedColumns["country"] == "Afghanistan")

=== Print Records where the response is from Afghanistan ===
+-----------+--------------------+------------+---------------+
|    country|          occupation|age_midpoint|salary_midpoint|
+-----------+--------------------+------------+---------------+
|Afghanistan|                null|        22.0|           null|
|Afghanistan|Mobile developer ...|        32.0|        45000.0|
|Afghanistan|                null|        null|           null|
|Afghanistan|              DevOps|        null|         5000.0|
|Afghanistan|                null|        65.0|           null|
|Afghanistan|                null|        22.0|           null|
|Afghanistan|       Growth hacker|        null|       210000.0|
|Afghanistan|Back-end web deve...|        27.0|         5000.0|
+-----------+--------------------+------------+---------------+

# Aggregations in PySpark

In [ ]:
print('=== Print the count of occupations ===')
groupedData = responseWithSelectedColumns.groupby("occupation")
groupedData.count().orderBy('count', ascending=False).show()

#orderBy -- same as sorted_values in pd

=== Print the count of occupations ===
+--------------------+-----+
|          occupation|count|
+--------------------+-----+
|Full-stack web de...|  498|
|                null|  297|
|             Student|  234|
|Back-end web deve...|  221|
|Front-end web dev...|  102|
|   Desktop developer|   87|
|               other|   67|
|    Mobile developer|   60|
|Executive (VP of ...|   46|
|Enterprise level ...|   41|
|Mobile developer ...|   35|
|System administrator|   34|
|Embedded applicat...|   33|
|Mobile developer ...|   32|
|              DevOps|   29|
|Developer with a ...|   25|
|      Data scientist|   24|
| Engineering manager|   22|
|             Analyst|   20|
|     Product manager|   18|
+--------------------+-----+
only showing top 20 rows

# Finding values less than a certain value inside of a column in PySpark -- conditionals

In [ ]:
print('=== Print records with average mid age less than 20 ===')
responseWithSelectedColumns.filter(responseWithSelectedColumns[AGE_MIDPOINT] < 20).show()

=== Print records with average mid age less than 20 ===
+---------+--------------------+------------+---------------+
|  country|          occupation|age_midpoint|salary_midpoint|
+---------+--------------------+------------+---------------+
|  Algeria|             Student|        16.0|           null|
|  Algeria|Back-end web deve...|        16.0|           null|
|Argentina|             Student|        16.0|         5000.0|
|Argentina|Back-end web deve...|        16.0|         5000.0|
|  Armenia|Back-end web deve...|        16.0|         5000.0|
|  Armenia|                null|        16.0|           null|
|  Armenia|Mobile developer ...|        16.0|         5000.0|
|  Armenia|Mobile developer ...|        16.0|         5000.0|
|  Austria|Mobile developer ...|        16.0|           null|
|  Austria|Full-stack web de...|        16.0|           null|
|  Austria|Full-stack web de...|        16.0|        15000.0|
|  Austria|                null|        16.0|           null|
|  Austria|             Student|        16.0|           null|
|  Austria|                null|        16.0|           null|
|  Austria|             Student|        16.0|           null|
|  Austria|             Student|        16.0|           null|
|  Austria|Back-end web deve...|        16.0|         5000.0|
|  Austria|                null|        16.0|         5000.0|
|  Austria|                null|        16.0|           null|
|  Austria|Back-end web deve...|        16.0|         5000.0|
+---------+--------------------+------------+---------------+
only showing top 20 rows

Finding the Salary Mid-point in descending order

In [ ]:
print('=== Print the result by salary mid point in descending order ===')
responseWithSelectedColumns.orderBy(responseWithSelectedColumns[SALARY_MIDPOINT], ascending=False).show()

=== Print the result by salary mid point in descending order ===
+------------------+--------------------+------------+---------------+
|           country|          occupation|age_midpoint|salary_midpoint|
+------------------+--------------------+------------+---------------+
|         Argentina|Back-end web deve...|        32.0|       210000.0|
|           Denmark|              DevOps|        44.5|       210000.0|
|         Argentina|Full-stack web de...|        27.0|       210000.0|
|           Denmark|Enterprise level ...|        32.0|       210000.0|
|Dominican Republic|Executive (VP of ...|        37.0|       210000.0|
|             China|Machine learning ...|        22.0|       210000.0|
|            France|Full-stack web de...|        32.0|       210000.0|
|           Denmark|Full-stack web de...|        22.0|       210000.0|
|       Afghanistan|       Growth hacker|        null|       210000.0|
|          Bulgaria|Enterprise level ...|        37.0|       195000.0|
|           Denmark|Full-stack web de...|        32.0|       185000.0|
|           Austria|               other|        37.0|       185000.0|
|           Belgium|Database administ...|        37.0|       165000.0|
|         Australia|   Desktop developer|        65.0|       165000.0|
|           Denmark|Business intellig...|        44.5|       165000.0|
|            France|Enterprise level ...|        54.5|       165000.0|
|           Germany|Executive (VP of ...|        27.0|       165000.0|
|            Canada|Mobile developer ...|        32.0|       155000.0|
|            Brazil|              DevOps|        32.0|       155000.0|
|           Denmark|Developer with a ...|        32.0|       155000.0|
+------------------+--------------------+------------+---------------+
only showing top 20 rows

# Examples of Group By in PySpark

In [ ]:
print('=== Group By the country and aggregate by the average salary mid point ===')
dataCountries = responseWithSelectedColumns.groupBy('country')

dataCountries.avg(SALARY_MIDPOINT).orderBy('avg(salary_midpoint)', ascending=False).show()

=== Group By the country and aggregate by the average salary mid point ===
+-----------+--------------------+
|    country|avg(salary_midpoint)|
+-----------+--------------------+
|     Belize|            125000.0|
|    Bahamas|             95000.0|
|    Denmark|   68768.65671641791|
|  Australia|    66891.8918918919|
|Afghanistan|             66250.0|
|      China|             54687.5|
|     Canada|  52586.206896551725|
|    Estonia|  51666.666666666664|
|    Germany|  46491.228070175435|
|    Belgium|   45989.01098901099|
|    Finland|   45714.28571428572|
|    Austria|   45465.11627906977|
|    Bahrain|             45000.0|
|      Chile|  41666.666666666664|
|    Andorra|             40000.0|
|    Ecuador|             40000.0|
|     France|  39648.760330578516|
|   Colombia|   33571.42857142857|
|    Algeria|             30000.0|
| Costa Rica|             30000.0|
+-----------+--------------------+
only showing top 20 rows

In [ ]:
responseWithSalaryBucket = survey_responses.withColumn(SALARY_MIDPOINT_BUCKET,(survey_responses[SALARY_MIDPOINT]).cast("integer"))

print("=== With Salary Bucket Column ===")
responseWithSalaryBucket.select(SALARY_MIDPOINT, SALARY_MIDPOINT_BUCKET).show()

print('\n', '=== Group By Salary Bucket ===')

responseWithSalaryBucket.groupBy(SALARY_MIDPOINT_BUCKET).count().orderBy('count', ascending=False).show()

=== With Salary Bucket Column ===
+---------------+----------------------+
|salary_midpoint|salary_midpoint_bucket|
+---------------+----------------------+
|           null|                  null|
|        45000.0|                 45000|
|           null|                  null|
|         5000.0|                  5000|
|           null|                  null|
|           null|                  null|
|       210000.0|                210000|
|         5000.0|                  5000|
|           null|                  null|
|         5000.0|                  5000|
|         5000.0|                  5000|
|        15000.0|                 15000|
|         5000.0|                  5000|
|         5000.0|                  5000|
|        15000.0|                 15000|
|           null|                  null|
|           null|                  null|
|           null|                  null|
|           null|                  null|
|        15000.0|                 15000|
+---------------+----------------------+
only showing top 20 rows


 === Group By Salary Bucket ===
+----------------------+-----+
|salary_midpoint_bucket|count|
+----------------------+-----+
|                  null|  566|
|                  5000|  300|
|                 15000|  223|
|                 25000|  177|
|                 35000|  174|
|                 45000|  143|
|                 55000|  117|
|                 65000|   72|
|                 75000|   62|
|                 95000|   37|
|                105000|   36|
|                 85000|   26|
|                115000|   15|
|                125000|   13|
|                135000|   10|
|                210000|    9|
|                145000|    8|
|                165000|    5|
|                155000|    3|
|                185000|    2|
+----------------------+-----+
only showing top 20 rows

# Joins In PySpark

In [ ]:
makerSpace = spark.read.option('header', 'true').csv('./uk-makerspaces-indentifiable-data.csv')

postCode = spark.read.option('header', 'true').csv('./uk-postcode.csv').withColumn('PostCode', col('PostCode'))

print('=== Print first 30 records of makespace table')
makerSpace.select('Name of makerspace', 'Postcode').show(30)

print('\n','=== Print first 30 records of postcode table ===')
postCode.select('PostCode', 'Region').show(30)

=== Print first 30 records of makespace table
+--------------------+--------+
|  Name of makerspace|Postcode|
+--------------------+--------+
|        Hub Workshop|SE15 3SN|
|Nottingham Hacksp...| NG3 1JH|
|         Farset Labs|BT12 5GH|
|       Medway Makers| ME4 3JE|
|             fizzPop|  B5 5SR|
|South London Make...|SE24 9AA|
|Create Space London | HA9 6DE|
|          FounderHub|CF10 1DY|
|  LuneLab Makerspace| LA2 6ND|
|            The Shed| CT2 7NF|
|      Build Brighton| BN2 4AB|
|           Makespace| CB2 1RX|
|   Swansea Hackspace| SA1 1DP|
|57North (previous...|AB11 5BN|
|        BEC Fab Lab |CA13 0HT|
|   Dundee MakerSpace| DD1 4QB|
|                EPIK| CT3 4GP|
|Fab Lab Nerve Centre|BT48 6HJ|
|  fablab@strathclyde|  G1 1XJ|
|MakerspaceFY1 (Bl...| FY1 4DY|
|   piel view hackers|LA13 9BD|
| Leicester Hackspace| LE1 1SB|
| Potteries Hackspace| ST5 2HN|
| Newport Makers Club|NP20 1HG|
|RARA Cooperative ...|  E5 9ND|
|            Open Hub| DY1 3PD|
|Lancaster And Mor...| LA1 4XQ|
|            Makernow|TR10 9EZ|
|  Richmond MakerLabs|TW10 7NY|
|    Camden Town Shed| NW1 9XZ|
+--------------------+--------+
only showing top 30 rows


 === Print first 30 records of postcode table ===
+--------+-------------+
|PostCode|       Region|
+--------+-------------+
|     AB1|     Aberdeen|
|     AB2|     Aberdeen|
|     AB3|     Aberdeen|
|     AB4|     Aberdeen|
|     AB5|     Aberdeen|
|     AB9|     Aberdeen|
|    AB10|     Aberdeen|
|    AB11|     Aberdeen|
|    AB12|     Aberdeen|
|    AB13|     Aberdeen|
|    AB14|     Aberdeen|
|    AB15|     Aberdeen|
|    AB16|     Aberdeen|
|    AB21|     Aberdeen|
|    AB22|     Aberdeen|
|    AB23|     Aberdeen|
|    AB24|     Aberdeen|
|    AB25|     Aberdeen|
|    AB30|Aberdeenshire|
|    AB31|Aberdeenshire|
|    AB32|Aberdeenshire|
|    AB33|Aberdeenshire|
|    AB34|Aberdeenshire|
|    AB35|Aberdeenshire|
|    AB36|Aberdeenshire|
|    AB37|        Moray|
|    AB38|        Moray|
|    AB39|Aberdeenshire|
|    AB41|Aberdeenshire|
|    AB42|Aberdeenshire|
+--------+-------------+
only showing top 30 rows

Now that we have the data that we want, let's join the two dataframes!

In [ ]:
joined = makerSpace.join(postCode, makerSpace['Postcode'].startswith(postCode['PostCode']), 'Inner') # Inner, Outer, left_outer, right_outer

print('=== Group By Region ===')
joined.groupBy('Region').count().orderBy('count', ascending=False).show(500)

=== Group By Region ===
+--------------------+-----+
|              Region|count|
+--------------------+-----+
|             Belfast|    5|
|             Cardiff|    5|
|            Aberdeen|    4|
|       Tower Hamlets|    4|
|   Brighton and Hove|    4|
|           Southwark|    3|
|             Glasgow|    3|
|          Manchester|    3|
|             Newport|    2|
|             Lambeth|    2|
|              Oxford|    2|
|             Hackney|    2|
|             Bristol|    2|
|         Southampton|    2|
|       Milton Keynes|    2|
|           Liverpool|    2|
|            Bradford|    2|
|            Cornwall|    2|
|Richmond upon Thames|    2|
|               Leeds|    2|
|           Lancaster|    2|
|              Camden|    2|
|                York|    2|
|           Sheffield|    2|
|              Stroud|    1|
|           Guildford|    1|
|          Sunderland|    1|
|    Scottish Borders|    1|
|              Dundee|    1|
|          Wandsworth|    1|
|       Staffordshire|    1|
|            Plymouth|    1|
|          Eastbourne|    1|
|           Greenwich|    1|
|              Dudley|    1|
|            Coventry|    1|
|Cheshire West and...|    1|
|             Swindon|    1|
|            Highland|    1|
|               Brent|    1|
|         Argyllshire|    1|
|           Cambridge|    1|
|          Flintshire|    1|
|             Falkirk|    1|
|             Lincoln|    1|
|         Westminster|    1|
|               Moray|    1|
|          Birmingham|    1|
|          Canterbury|    1|
|               Derby|    1|
|           Leicester|    1|
|              Exeter|    1|
|   Barrow-in-Furness|    1|
|        Peterborough|    1|
|Kensington and Ch...|    1|
|        Renfrewshire|    1|
|             Gwynedd|    1|
|           Newcastle|    1|
| North Hertfordshire|    1|
|              Medway|    1|
|           Blackpool|    1|
|      City of London|    1|
|            Lewisham|    1|
|               Derry|    1|
|          Tewkesbury|    1|
|          Colchester|    1|
|            Carlisle|    1|
|           Allerdale|    1|
|                Kent|    1|
|            Hereford|    1|
|             Swansea|    1|
|             Enfield|    1|
|            Rushmoor|    1|
|             Fenland|    1|
|              Ealing|    1|
|      Waltham Forest|    1|
|             Gedling|    1|
|   Rhondda Cynon Taf|    1|
|             Wealden|    1|
|               Wigan|    1|
|           Berkshire|    1|
+--------------------+-----+

In [ ]:
# creating a pandas DF based on PySparkDF
pandasDF = joined.toPandas()
pandasDF

     Timestamp                      Collected by  ... Population Households
0    15-Jan-15  Makerspace. Edited by Researcher  ...       None       None
1     8-Mar-15  Makerspace. Edited by Researcher  ...       None       None
2     8-Mar-15  Makerspace. Edited by Researcher  ...      21964      11517
3    15-Jan-15  Makerspace. Edited by Researcher  ...      21237      10926
4     8-Jan-15                        Makerspace  ...      12156       5139
..         ...                               ...  ...        ...        ...
115   4-Feb-15  Makerspace. Edited by Researcher  ...       2256        770
116  25-Feb-15  Makerspace. Edited by Researcher  ...        138         53
117  21-Jan-15  Makerspace. Edited by Researcher  ...      47823      21097
118  14-Feb-15                        Makerspace  ...       None       None
119  14-Feb-15                        Makerspace  ...      19389       8539

[120 rows x 51 columns]